################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/LogMeIn/FileContentIndex
/src/bin/Debug/net8.0
/src/obj
/src/.vs/LogMeIn/v17
/src/bin/Release/net8.0/win-x64
